{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesorías</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Soluciones de softaware .La filosofía de nuestra empresa no se limita únicamente a ofrecer soluciones especializadas en tecnologías y servicios, sino que, de manera fundamental, se enfoca en proporcionar un servicio excepcional a todos nuestros prospectos y clientes, garantizando una atención personalizada y de calidad. </p>
        <p> Para una consultoría, la mejor carta de presentación son soluciones diseñadas en base a principios clave como la eficiencia, la adaptabilidad y la confianza.</p>
        <br>
        <p><b>Teléfono:</b> +52 7293834512</p>
        <p><b>Honorarios:</b> 100$/h De base.</p>
    </div>
</div>
{% endblock %}

